.causes {
    background-image: url("../img/2-star-mini.jpg");
    color: white;
}

.earth-mini {
    width: 70%;
    border-radius: 50%;
    & + .textpath{
        padding-left: 35px;
        width: 100%;
    }
}
.right{
    align-items: center;
}
.right > h2 > .getdiv{
    display: flex;
}