.footer{
    background-image: url("../img/2-star-mini.jpg");   
    ul{
        padding-left: 0;
        li{
            list-style: none;
        }
    }
}

.ftleft{
    background-color: rgb(0, 255, 255);
}
.ftmiddle{
    background-color: red;
}
.ftright{
    background-color: greenyellow;
}