// ! FOR Rounded Text around Image  START
@media (max-width:500px){
    .earth-mini + .textpath{
        padding-left: 23px !important;
    }
    .rocketborder,.neoevent{
        .getdiv{
            width: 10%;
            padding:20px 0;
        }
    }
}
@media (min-width:500px) {
    #textpatt{
        top:-20px !important;
    }
}
// ! FOR Rounded Text around Image END



@media (min-width:768px) {

    //! HEADER SECTION
    .header{
        z-index: 9999;
        background-position-x: -350px !important;
        .collapse{
            padding-right: 3em;
        }
        .header-texts > h1 {
            font-size: 5em !important;
            z-index: 10;
        }
        &::after{
            animation: upp 1.5s ease-out ;
            background-image: url("../img/astronot-crop1.png");
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            display: block;
            position: absolute;
            bottom: -50px;
            left: 0;
            object-fit: contain;
            width: 70% ;
            height: 70%;
            
        }
        .header-bottom {
            justify-content: end;
            .header-texts{
                width: 60%;
                text-align: right;
            }
        }
    }
    


    //! LOGOS SECTION
    .logos{
        max-width: 80% !important;
        padding: 35px;
        gap: 35px;
        .logo{
            width: 25%;
        }
    }



    //! GETTOKNOW SECTION
    .get-texts{
        text-align: start !important;
        h2{
            flex-direction: row !important;
        }
        h1{
            font-size: 3em;
            font-weight: 600;
        }
    }



    //! CAUSES SECTION
    .right {
        h2{
            width: 100%;
            justify-content: end;
        }
        text-align: end !important;
        align-items: flex-end;
    }
    
    

    //! NEOEVENT SECTION
    .neo-text{
        align-items: flex-start !important;
    }
    .neo-wrapper{
        .col-12 {
            width: 48.7%;
        }
    }



    //! NEOREVIEW SECTION
    .grad-1{
        margin-top: 0px !important;
        padding-bottom: 50px;
    }
    .flexnowrapmd{
        flex-wrap: nowrap !important;
        .bg-grad{
            width: 49%;
        }
    }
    .bg-grad{
        justify-content: end !important;
    }



    //! NEOBLOG SECTION
    .blog-item{
        max-width: 48%;
    }



    //! FOOTER SECTION
    .footer-wrapper{
        form{
            margin-bottom: 0 !important;
        }
    }
    


    //!! HELPER
    .getdiv{
        display: inline-block;
        width: 40% !important; 
    }
    .car-mini,.earth-mini{
        width: 70% !important;
    }
    .textpath{
        width: 100% !important;
        padding-left: 20px!important;
        overflow: hidden;
    }
    #textpatt{
        padding-left: -28px !important;
        top: 135px !important;
    }
}

@media (min-width:992px) {

    //! HEADER SECTION
    .header{
        background-position-x: 0px !important;
        background-size: contain !important;
        .header-bottom{
            padding-bottom: 250px !important;
        }
        .header-texts > h1 {
            font-size: 128px !important;
        }
    }
    .search{
        position: relative !important;
        top:0 !important;
        right: 0 !important;
    }
    .navbar-collapse{
        flex-grow: 0 !important;
        position: relative !important;
        top: 0 !important;
        right:0 !important;
        padding: 0px !important;
        min-width: 3em !important;
        transform: translate(0) !important;
        background-color: transparent !important;
        .dropdown-menu{
            min-width: 3em !important;
        }

        .dropdown > .dropdown-toggle:focus{
            background-color:transparent !important;
            color:#7CDEE4 !important;
        }
        border:none !important;
        .dropdown-menu{
            border: 1px solid #7CDEE4 ;
        }
    }


    //! ROCKETBORDER SECTION
    .rocketborder h1{
        font-size: 3em !important;
    }



    //! NEOBLOG SECTION
    .blog-item{
        max-width: 32%;
    }



    //!! HELPER
    #textpatt {
        padding-left: 23px !important;
        top: 40px !important;
    }
    .textpath{
        padding-left: 30px !important;
    }
}

@media (min-width:1200px) {
    //!! HELPER
    #textpatt {
        top: -60px !important;
        padding-left: 40px !important;

    }
}