.neoblog{
    background-image: url("../img/2-star-mini.jpg");
    h2{
        @include set-h2;
    }
}

.blog-item{
    background-color: transparent;
    background-image: linear-gradient(25deg, #7CDEE4 0%, #03045E 200%);
    border-radius: 30px ;
    color: #03045E;
}

.blog-top{
    margin-bottom: 30px;
}

.item-top{
    padding: 20px;
    position: relative;
    .calendar{
        position: absolute;
        bottom: -8px;
        left: 27px;
        @include set-flex;
        flex-direction: column;
        background-color: white;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        text-align: center;
        h4{
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bolder;
        }
        h5{
            font-size: 1em;
        }
    }
}

.item-bottom{
    padding: 20px 40px 40px 40px;
    h1{
        font-size: 30px;
        font-weight: 600;
        line-height: 27px;
        margin: 0 20px 20px 0;
    }
    p{
        margin-bottom: 30px;
    }
    a{
        @include set-button-a;
        background-color: #03045E;
        color: white;
    }
}