@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    padding: 100px 0;
    color: white;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateY(-50%);
    transition: all 3s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s; 
}

li:hover{
    transition: all 1s  ease;
    transform: scale(1.1);
}

body{
    background-image: url("../img/2-star-mini.jpg");
    font-family: "Titillium Web",sans-serif;
    color: white;
}

.flexx{
    @include set-flex;
}

.pse-15{
    padding-left:15px;
    padding-right: 15px;
}
.ptb-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.p-15{
    padding:15px !important;
}
.fnt{
    font-family: "Titillium Web",sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white !important;
}
.white{
    color: white;
}
a{
    text-decoration: none;
    
}